{% extends 'base.html.twig' %}

{% block body %}

<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    {% include '/partials/menu.html.twig' %}
</nav>

<!-- Masthead -->
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            {% include '/carousel/carousel_slider.html.twig' %}
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        </div>
    </div>
</div>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    {#<div class="features-icons-icon d-flex">#}
                    {#<i class="icon-screen-desktop m-auto text-primary"></i>#}
                    {#</div>#}
                    <h4>Si quieres un call center, somos los más indicados.</h4>
                    <p class="lead mb-0">Consultoría, diseño, construcción y equipamiento para Calls Centers, integrando la infraestructura tecnológica para implementar su proyecto.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    {#<div class="features-icons-icon d-flex">#}
                    {#<i class="icon-layers m-auto text-primary"></i>#}
                    {#</div>#}
                    <h4>Instalamos, alquilamos o asistimos.</h4>
                    <p class="lead mb-0">Las tres cosas, o lo que necesite.</p>
                    <ul>
                        <li><a class="green-link" href="#">Creación de Plataformas</a></li>
                        <li><a class="green-link" href="#">Alquiler de Posiciones</a></li>
                        <li><a class="green-link" href="#">Servicios complementarios</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    {#<div class="features-icons-icon d-flex">#}
                    {#<i class="icon-check m-auto text-primary"></i>#}
                    {#</div>#}
                    <h4>Alquiler de despachos</h4>
                    <p class="lead mb-0">Parque Empresarial</p>
                    <p class="lead mb-0">Avenida Lebrija, 10</p>
                    <p class="lead mb-0">11407</p>
                    <p class="lead mb-0">Jerez de la Frontera, Cádiz</p>
                    <p class="lead mb-0"><a class="green-link" href="#">Mas información</a></p>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 5%;">
            <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon">
                        <i class="fas fa-star text-primary"></i>
                    </div>
                    <h4>Éxito</h4>
                    <p class="lead mb-0">Vender, atender, asistir,… conseguirlo de la forma más rápida y eficaz garantiza el éxito de la empresa y aporta valor a tu marca.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon">
                        <i class="fas fa-rocket text-primary"></i>
                    </div>
                    <h4>Potencial</h4>
                    <p class="lead mb-0">¿Hasta dónde puede llegar tu empresa? Las posibilidades que se despliegan con un Call Center son infinitas. </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon">
                        <i class="fas fa-cogs text-primary"></i>
                    </div>
                    <h4>Medios</h4>
                    <p class="lead mb-0">Mejores medios, mejores resultados. Contando con nosotros para la gestión y creación de su Call Center, o bien para el alquiler de puestos, puedes estar seguro de ello.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon">
                        <i class="far fa-thumbs-up text-primary"></i>
                    </div>
                    <h4>Satisfacción</h4>
                    <p class="lead mb-0">Un cliente satisfecho es una puerta abierta a muchos años de colaboración y resultados. Con la mejor atención y asistencia sus clientes estarán encantados.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '/partials/footer.html.twig' %}

{% endblock %}

