{% extends 'base.html.twig' %}

{% block body %}

    <!-- Navigation -->
    {% include '/partials/menu.html.twig' %}

    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="padding-bottom: 5%;">
                    <div>
                        <h2>Contacto</h2>
                        <p><strong>Ponte en contacto con nosotros. Le atenderemos.</strong></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="row" style="padding-bottom: 5%;">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4">
                            <iframe class="iframe" width="450" height="250" src="http://maps.google.com/maps?q=Calle+del+Haya%2C+4+28044+Madrid&amp;output=embed"></iframe>
                        </div>
                        <div class="col-lg-6">
                            <p><strong>Sede ESPAÑA</strong></p>
                            <p>C/Haya 4</p>
                            <p>28044</p>
                            <p>Madrid</p>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 5%;">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4">
                            <iframe class="iframe" width="450" height="250" src="http://maps.google.com/maps?q=Ctra.+Lebrija%2C+10%2C+11407+Jerez+de+la+Frontera%2C+C%C3%A1diz&amp;output=embed"></iframe>
                        </div>
                        <div class="col-lg-6">
                            <p><strong>Sede ESPAÑA</strong></p>
                            <p>Avenida Lebrija, 10</p>
                            <p>11407</p>
                            <p>Jerez de la Frontera, Cádiz</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4">
                            <iframe class="iframe" width="450" height="250" src="http://maps.google.com/maps?q=Carrera+7+17-51%2C+Bogot%C3%A1%2C+Cundinamarca%2C+Colombia&amp;output=embed"></iframe>
                        </div>
                        <div class="col-lg-6">
                            <p><strong>Sede COLOMBIA</strong></p>
                            <p>CR 7 NO. 17 – 51</p>
                            <p>OFicina 1102</p>
                            <p>Bogotá</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style="text-align: left;">

                    <h2>Formulario de contacto</h2>
                    <form action="{{ path('send-mail') }}" method="post" style="width: 65%;">
                        <div class="form-group">
                            <label for="nombre">Su nombre (requerido)</label>
                            <input type="text" class="form-control" id="nombre" name="nombre">
                        </div>
                        <div class="form-group">
                            <label for="email">Su e-mail (requerido)</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="nombre@ejemplo.com">
                        </div>
                        <div class="form-group">
                            <label for="asunto">Asunto</label>
                            <input type="text" class="form-control" id="asunto"  name="asunto">
                        </div>
                        <div class="form-group">
                            <label for="mensaje">Su mensaje</label>
                            <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" disabled >Enviar</button>
                    </form>

                </div>
            </div>

        </div>

        {% if enviado == '1'%}
            <div class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Enviado</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Formulario enviado, nos pondremos pronto en contacto con usted. Gracias.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>

    {% include '/partials/footer.html.twig' %}

{% endblock %}

