{% extends 'base.html.twig' %}

{% block body %}

    <!-- Navigation -->
    {% include '/partials/menu.html.twig' %}

    <section class="features-icons bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="padding-bottom: 5%;">
                    <div>
                        <h2>Plataformas</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div>
                        <p>Todas nuestras Plataformas poseen unas características básicas imprescindibles para el buen desarrollo de una campaña:</p>
                        <ul>
                            <li>Instalaciones energéticamente eficientes.</li>
                            <li>Vigilancia y Conserje 24 h.</li>
                            <li>Plazas de garaje para clientes.</li>
                            <li>Zonas de esparcimiento para personal.</li>
                            <li>Salas de reuniones, salas de formación, despachos…</li>
                            <li>Máxima insonorización y óptima iluminación.</li>
                            <li>Perfecta localización.</li>
                            <li>Excelentes comunicaciones para clientes y personal propio.</li>
                        </ul>
                        <p>Todo ello apoyado con un excelente soporte en procesos tecnológicos y de recursos humano.</p>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row" style="padding-top: 5%;">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                    <div style="padding-top: 5%;">
                        <h4>Nuestra Sede en Madrid:</h4>
                        <p>Moderno edificio eficiente y tecnológico, con las siguientes prestaciones:</p>
                        <ul>
                            <li>1.000 posiciones disponibles.</li>
                            <li>Instalaciones energéticamente eficientes.</li>
                            <li>Vigilancia 24 h.</li>
                            <li>Conserje 24 h.</li>
                            <li>Plazas de garaje para clientes.</li>
                            <li>Zonas de esparcimiento para personal.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <img src="http://sojetel.net/wp-content/uploads/sevilla5.jpg" alt="" class="img-thumbnail img-resize">
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                    <div>
                        <img src="http://sojetel.net/wp-content/uploads/sevilla4.jpg" alt="" class="img-thumbnail img-resize">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div style="padding-top: 5%;">
                        <h4>Nuestra Sede en Sevilla:</h4>
                        <p>Perfecta localización, últimas tecnologías y disponibilidad para uso inmediato:</p>
                        <ul>
                            <li>560 posiciones disponibles.</li>
                            <li>Edificio con tres plantas, Planta Baja más 4 sobre rasante (módulos diáfanos) .</li>
                            <li>Falso techo continuo Knauf, y modular semioculto tipo Armstrong, de una altura de 0,35 m.</li>
                            <li>Altura libre: 3,11 m.</li>
                            <li>2 ascensores Thyssen para 8 personas.</li>
                            <li>Aire Acondicionado: Climatización en todo el edificio. Sistema independiente en cada oficina.</li>
                            <li>Aseos: Dos núcleos dobles (señoras/caballeros) por planta, acceso por zonas comunes e interior oficinas.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                    <div style="padding-top: 5%;">
                        <h4>Nuestra Sede en Málaga:</h4>
                        <p>Disponemos de 500 posiciones libres en un enclave perfecto ubicado a 300 metros de la línea 2 de metro</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <img src="http://sojetel.net/wp-content/uploads/sevilla3.jpg" alt="" class="img-thumbnail img-resize">
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                    <div>
                        <img src="http://sojetel.net/wp-content/uploads/sevilla2.jpg" alt="" class="img-thumbnail img-resize">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div style="padding-top: 5%;">
                        <h4>Nuestra Sede en Jerez:</h4>
                        <p>Edificio perfectamente acondicionado a las actuales necesidades de la propia plataforma y de nuestros clientes:</p>
                        <ul>
                            <li>550 posiciones disponibles.</li>
                            <li>Excelentes comunicaciones para clientes y personal propio.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                    <div style="padding-top: 5%;">
                        <h4>Nuestra Sede en Barcelona:</h4>
                        <p>Disponemos de 600 puestos operativos para un uso inmediato y en el periodo de tiempo que necesite.
                            Para campañas puntuales o acciones a largo plazo en las que, incluso, podemos personalizar salas con su identificación y
                            aislarlas físicamente del resto de la plataforma, disposición de salas de formación, despachos, etc.
                            Trabajamos con sistemas de última generación, podrá disponer de una plataforma de comunicación multicanal para gestionar
                            todo tipo de acciones de telemarketing inbound y outbound</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <img src="http://sojetel.net/wp-content/uploads/sevilla1.jpg" alt="" class="img-thumbnail img-resize">
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                    <div>
                        <img src="http://sojetel.net/wp-content/uploads/bogota3.jpg" alt="" class="img-thumbnail img-resize">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div style="padding-top: 5%;">
                        <h4>Nuestra Sede en Bogotá (Colombia):</h4>
                        <p>Más de 600 puestos de operación y todo el Soporte en procesos tecnológicos y de talento humano./p>
                        <p>Puestos de trabajo que cumplen todas las normas ergonómicas de trabajo. Aprobados por el ministerio de trabajo y por las administradoras de riesgos profesionales.</p>
                        <p>Existen áreas de descanso, de cafetería, salas de capacitación y de reuniones.</p>
                        <p>Centros de cableado y centros de datos.</p>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

        </div>
    </section>

    {% include '/partials/footer.html.twig' %}

{% endblock %}

